.backBtn {
  background: transparent;
  border: none;
  color: aliceblue;
  align-self: flex-start;
}
.footerWrapper {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(21, 14, 6);
  display: flex;
  align-items: center;
  flex-direction: column;
  .startText {
    font-size: 1rem;
    color: red;
  }
}
.selectedBtn {
  background-color: red;
  color: aliceblue;
  width: 4rem;
  border-radius: 5px;
}
.CapBtn {
  border: 1px soild red;
  border-radius: 5px;
  background-color: gray;
  width: 4rem;
  color: aliceblue;
}
