.sportsection {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  font-size:2rem;
  .logo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    background-color: rgb(188, 189, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .logo:hover {
    background-color: rgb(253, 99, 99);
    color: rgb(223, 12, 12);
    transform: scale(1.3);
  }
  .selectedSport {
    background-color: rgb(253, 99, 99);
    color: rgb(223, 12, 12);
    transform: scale(1.3);
  }
  @media screen and (max-width: 650px) {
   font-size:0.8rem;
  .logo {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
  }
  .logo:hover {
    background-color: rgb(253, 99, 99);
    color: rgb(223, 12, 12);
  }
}

}
