.wrapper {
  
  .header{
     padding-top: 1rem;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
  }
 
  .tabWrapper{
    display: flex;
    width: 100%;
    background-color:aliceblue;
    color: black;
    justify-content: space-around;
    align-items: center;
    .tab{
      padding: 5px 20px;
      cursor: pointer;
    }
    .activeTab{
      color: red;
      border-bottom: 2px solid red;
    }
  }
}
