html, body {
  margin: 0;
  padding: 0;
  background: #222429;
  font-family: 'Poppins', sans-serif;
  color: #f5f5f5;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
