
.playercard {
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  box-shadow: 0 0 10px white;
  padding: 0 10px;
  margin: 0 10px;
  // border:1px solid red;
  align-items: center;
  .playerLogo{
    height: 3rem;
    width: 3rem;
  }
  .playerInfo{
    display: block;
    font-size: 0.6rem;
  }
  .check{
    height: 1rem;
  }
}
