.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;

  .header {
    padding-top: 1rem;
    font-size: 1.5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .tabWrapper {
    display: flex;
    width: 100%;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;

    .tab {
      padding: 5px 20px;
      color: black;
      cursor: pointer;
    }
    .activeTab {
      color: red;
      border-bottom: 2px solid red;
    }
  }

  .player {
    flex:1;
    overflow-y: auto;
    .playerTitle{
       padding: 0 10px;
  margin: 0 10px;
      width: 95%;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
      color: red;
    }
  }
}
